html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}




.bg1 {
  background-image: url('assets/img2.jpg');
  background-size: cover;
}


.hidden {
  display: none;
}